{% extends "pms/base.html" %}
{% block body_block %}
<html>
  <head>
    <script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/css/bootstrap-datepicker3.min.css">
    <script>
      $( document ).ready(function() {
        $("#datepicker1").datepicker({ 
          format: 'yyyy-mm-dd',
          autoclose: true
        });
        $("#datepicker2").datepicker({ 
          format: 'yyyy-mm-dd',
          autoclose: true
        });
      }); 
    </script>
  </head>
  <body>
    <div class="container jumbotron">
      <h3 class='page-header'><strong>Generate Attendance Report<strong></h3>
      <form class="form"  method="post" autocomplete="off" action="{% url 'pms:attendance-report' %}">
        {% csrf_token %}
        <p><label>From: </label><em>   </em><input type="text" name="fromdate" id="datepicker1" required="true"></p>
        <p><label>To: </label> <em>&nbsp;&nbsp;&nbsp;&nbsp;</em> <input type="text" name="todate" id="datepicker2" required="true"></p>
        <input class='btn btn-primary btn-md' style="margin-right:10px" type="submit" name="" value="Generate">
      </form>
    </div>
  </body>
</html>
{% endblock %}
