{% extends 'pms/base.html' %}

{% block body_block %}
    <div class="container">
      <div class="jumbotron">
          <h3 class='page-header'><strong>Mark Attendance<strong></h3>
      <form class="form"  method="post" >
            {% csrf_token %}
            {% ifequal done 3 %}
              <h3 class="alert alert-info">You have marked yourself for the day!</h3>
            {% else %}
            {{ attendance_form.as_p }}
            <input class='btn btn-primary btn-md' style="margin-right:10px" type="submit" value="Submit">
            {% endifequal %}
      </form>
    </div>
  </div>
{% endblock %}