<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
  <body>
    
      <div class="container-fluid">
        <!--<div class="navbar-header">
          <a class="navbar-brand" href="#">Test Company</a>
        </div>-->
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
          <ul class="navbar-nav">
{# Django Home Link / Admin Link / Register Link#}
          <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
          {% if user.is_superuser %}
          <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}">Admin</a></li>
          {% endif %}
          {% if user.is_superuser or not user.is_authenticated %}
          <li class="nav-item"><a class="nav-link" href="{% url 'pms:signup' %}">Register</a></li>    
          {% endif %} 
          {% if user.is_authenticated and not user.is_superuser%}
            <li class="nav-item"><a class="nav-link" href = "{% url 'pms:view_profile' %}")> View Profile </a></li>
            <li class="nav-item"><a class="nav-link" href = "{% url 'pms:edit_profile' %}")> Update Profile </a></li>
            <li class="nav-item"><a class="nav-link" href = "{% url 'pms:attendance' %}")> Mark Attendance </a></li>
            <li class="nav-item"><a class="nav-link" href = "{% url 'pms:attendance-report' %}")> Attendance Report</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'pms:show_salary' %}">Salary Structure</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'pms:salary-report' %}">Salary Report</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'pms:logout' %}">Logout</a></li>
          {% elif not user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" class="navbar-link" href="{% url 'pms:login' %}">Login</a></li>
          {% endif %}
          {% if user.is_superuser %}
            <li class="nav-item"><a class="nav-link" href="{% url 'pms:logout' %}">Logout</a></li>
            {% endif %}
        </ul>
</nav>
      </div>
    
    <div class="container">
    {% block body_block %}
    {% endblock %}
    </div>
  </body>
</html>