{% extends "pms/base.html" %}
{% load static %}
{% block body_block %}
<head>
    <link rel="shortcut icon" href="favicon.ico">
</head>
<div class="container">
  <div class="jumbotron">
    {% if user.is_authenticated and user.is_superuser %}
    	<h2>Hello admin!
    {% elif user.is_authenticated %}
        <h2>Hello {{ user.first_name }}</h2>
        <div>
            <h4> Welcome to IIIT Bangalore</h4>
    {% else %}
        <h2>Register or Login if you'd like to</h2>
    {% endif %}
  </div>
</div>
{% endblock %}
