{% extends "pms/base.html" %}
{% block body_block %}
<div class="container">
  <div class="jumbotron">
    {% if user.is_authenticated and user.is_superuser %}
    	<h2>Hello admin!
    {% elif user.is_authenticated %}
        <h2>Hello {{ user.first_name }}</h2>
        <ul>
            <li><a href = "{% url 'pms:view_profile' %}")> View Profile </a></li>
            <li><a href = "{% url 'pms:edit_profile' %}")> Update Profile </a></li>
        </ul>
    {% else %}
        <h2>Register or Login if you'd like to</h2>
    {% endif %}
  </div>
</div>
{% endblock %}
