{% extends 'pms/base.html' %}
{% load static %}
{% block body_block %}
<head>
  <link rel="shortcut icon" href="favicon.ico">
</head>
    <div class="container">
      <div class="jumbotron">
          <h3 class='page-header'><strong>Login<strong></h3>
      {% if loginFail %}
        <h5 class="alert alert-danger">Invalid login details</h5>
      {% endif %}
      {% if registered %}
        <h5 class="alert alert-info">Registered Successfully!</h5>
      {% endif %}
      <form class="form"  method="post" action="{% url 'pms:login' %}">
            {% csrf_token %}
            {# A more "HTML" way of creating the login form#}
            <div class="form-group row" style="margin-bottom:10px">
              <label for="username" class="col-sm-1.5 col-form-label">Username:</label>
              <div class="col-sm-15">
              <input class = "form-control" type="text" name="username" placeholder="Username" required="True">
            </div>
            </div>
            <div class="form-group row" style="margin-bottom:10px">
              <label for="password" class="col-sm-1.5 col-form-label">Password:</label>
              <div class="col-sm-15">
              <input class = "form-control" type="password" name="password" placeholder="Password" required="True">
            </div>
            </div>
        <input class='btn btn-primary btn-md' style="margin-right:10px" type="submit" name="" value="Login">
        <a class="btn btn-danger btn-md" href = "{% url 'password_reset' %}")> Forgot Password? </a>
      </form>
    </div>
  </div>
{% endblock %}