{% extends "pms/base.html" %}
{% load static %}
{% block body_block %}
<head>
  <link rel="shortcut icon" href="favicon.ico">
</head>
  <div class="container">
    <div class="jumbotron">
      {% if registered %}
        <h1>Thank you for registering!</h1>
      {% else %}
        <h3 class='page-header'><strong>Signup<strong></h3>
        <form class="form" method="POST">
          {% csrf_token %}
          {{user_form.as_p}}
          {{profile_form.as_p}}
          <input class='btn btn-primary btn-md' type="submit" name="" value="Register">
        </form>
      {% endif %}
    </div>
  </div>
{% endblock %}
