{% extends "pms/base.html" %}
{% block body_block %}
  <div class="container">
    <h1>Profile</h1>
      <p>Username: <label>{{user}}</label></p>
      <p>First name: <label>{{user.first_name}}</label></p>
      <p>Last name: <label>{{user.last_name}}</label></p>
      <p>Email: <label>{{user.email}}</label></p>
      <p>DOB: <label>{{userprofileinfo.dob}}</label></p>
      <p>Gender: <label>{{userprofileinfo.gender}}</label></p>
      <p>Job Desc: <label>{{userprofileinfo.job_desc}}</label></p>
      <p>Address: <label>{{userprofileinfo.address}}</label></p>
      <p>City: <label>{{userprofileinfo.state}}</label></p>
      <p>State: <label>{{userprofileinfo.state}}</label></p>
      <p>Country: <label>{{userprofileinfo.country}}</label></p>
      <p>Pincode: <label>{{userprofileinfo.pincode}}</label></p>
      <p>Mobile: <label>{{userprofileinfo.mobile_no}}</label></p>
  </div>
{% endblock %}
