{% extends "pms/base.html" %}
{% block body_block %}
  <div class="container">
    <div class="jumbotron">
    <h3 class="page-header"><strong>{{user.first_name}}'s Profile</strong></h3>

      <table class="table table-hover table-bordered table-user-information">
        <tbody>
          <tr>
            <td class="info">Username:</td>
            <td class="active">{{user}}</td>
          </tr>
          <tr>
            <td class="info">First name:</td>
            <td class="active">{{user.first_name}}</td>
          </tr>
          <tr>
            <td class="info">Last name:</td>
            <td class="active">{{user.last_name}}</td>
          </tr>
          <tr>
            <td class="info">Email:</td>
            <td class="active">{{user.email}}</td>
          </tr>
          <tr>
            <td class="info">DOB:</td>
            <td class="active">{{userprofileinfo.dob}}</td>
          </tr>
          <tr>
            <td class="info">Gender:</td>
            <td class="active">{{userprofileinfo.gender}}</td>
          </tr>
          <tr>
            <td class="info">Job Desc:</td>
            <td class="active">{{userprofileinfo.job_desc}}</td>
          </tr>
          <tr>
            <td class="info">Street:</td>
            <td class="active">{{userprofileinfo.street}}</td>
          </tr>
          <tr>
            <td class="info">City:</td>
            <td class="active">{{userprofileinfo.state}}</td>
          </tr>
          <tr>
            <td class="info">State:</td>
            <td class="active">{{userprofileinfo.city}}</td>
          </tr>
           <tr>
            <td class="info">Country:</td>
            <td class="active">{{userprofileinfo.country}}</td>
          </tr>
           <tr>
            <td class="info">Pincode:</td>
            <td class="active">{{userprofileinfo.pincode}}</td>
          </tr>
           <tr>
            <td class="info">Mobile:</td>
            <td class="active">{{userprofileinfo.mobile_no}}</td>
          </tr>
        </tbody>
      </table>
      <a class="btn btn-info btn-md" href = "{% url 'pms:edit_profile' %}")> Edit Profile </a>
      </form>
    </div>
  </div>
{% endblock %}
